<div class="problems">
<div class="problem"><%= @problem.content.html_safe %></div>
  <hr>
<% @comments.each do |comment|  %>
<div class="comment"><%= comment.comment.html_safe %></div>
<div class="timestamp">Добавленно <span class="user"><%= comment.user.name %></span>
<%= time_ago_in_words(comment.created_at) %></div>
    <hr>
<% end %>
<% if !current_user.nil? %>
    <%= form_for([@problem, @problem.comments.build]) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.cktext_area :comment %>
        </div>
        <%= f.submit "Создать!", class: "btn btn-large btn-primary" %>
    <% end %>
<% else %>
    <h2>Для добавления комментария пожалуйста зарегистрируйтесь или войдите!</h2>
<% end %>
</div>
